body { 
  font-family: Arial, Apple-Color-Emoji, Segoe-UI-Emoji, Segoe-UI-Symbol, Noto-Color-Emoji;
  display: flexbox;
}

a { 
  color: rgb(33, 111, 176); 
  align-items: center;
}

titulo { 
  text-align: center; 
}

h1 { 
  text-align: center; 
}

h2 { 
  text-align: center; 
}

trStyle {
  align-items: center; 
  flex-direction: row; 
  width: fit-content;
}

footer {
  text-align: center;
  font-size: smaller;
  border: 1px; 
  background-color: rgb(56, 55, 55); 
  flex: 0; 
  color: white;
  padding: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}